[Unit]
Description=Gary IRC Bot
After=ircd.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=mike
Group=mike

Environment=PYTHONUNBUFFERED=1

WorkingDirectory=/home/mike/repos/gary
ExecStart=/usr/bin/python2.7 /home/mike/repos/gary/bot.py

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
